*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fafafa;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212b38;
}
.link-logo{
    font-size: 4vw;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

li{
    display: inline-block;
    transition: .3 ease-in-out;
    margin: 10px;
}
li a{
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.5vw;
}

li a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 10%;
    background-color: black;
    transition: width 0.3s ease-in-out;
}
li a:hover:after {
  width: 110%; 
}

.main{
    border-bottom: .2vw solid rgba(0, 0, 0, 0.5);
    border-top: .2vw solid rgba(0, 0, 0, 0.5);
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    text-align: left;
}
.image img{
    width: 100vh;
    border-radius: 1vw;
    height: 100vh;
    margin: 1vw 0 1vw 0;
}
h3{
    font-size: 3vw;
}
p{
    font-size: 2vw;
}

span{
    transition-duration: .3s;
    border:.2vw solid rgba(0, 0, 0);
    font-size: 2vw;
}
span:hover{
    background-color: #212b38;
}
@media screen and (max-width: 1000px) {
    nav{
        display: flex;
        justify-content: center; 
        text-align: center;
        align-items: center;
        align-content: center;
    }
    ul{
        display: none;
    }
    .main{
        flex-direction: column-reverse;
        text-align: left;
        height: 100vh;
    }
    .image img{
        width: 100%;
        height: 50vh;
    }
}